HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# JavaScipt
experiments/JavaScript/microblog/client/bin/
experiments/JavaScript/microblog/client/node_modules/
experiments/JavaScript/microblog/server/bin/
experiments/JavaScript/microblog/server/node_modules/

# Java
experiments/Java/partymanager/bin/
experiments/Java/partymanager/gradle/wrapper/
experiments/Java/spring-eureka/eureka-provider/bin
experiments/Java/spring-eureka/eureka-provider/gradle
experiments/Java/spring-eureka/eureka-server/bin
experiments/Java/spring-eureka/eureka-server/gradle
experiments/Python/delivery-monitoring/rabbitmq_data/

experiments/Java/ecommerce/catalog/.mvn/wrapper/

experiments/Java/ecommerce/products/.mvn/wrapper/

experiments/Java/service-orders/api/.mvn/wrapper/

experiments/Python/pythonlab_solution/task_manager/task_manager/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/migrations/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/entities/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/services/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/templatetags/__pycache__/

*.pyc

experiments/Java/ecommerce/containers/rabbitmq_data/
experiments/Java/service-orders/.mvn/wrapper/

experiments/Python/Katalon/

*.jar

experiments/JavaScript/mern/mern-tracker/backend/node_modules/
experiments/JavaScript/mern/node_modules/

experiments/JavaScript/Restify Lab/node_modules/
