HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# JavaScipt
experiments/JavaScript/microblog/client/bin/
experiments/JavaScript/microblog/client/node_modules/
experiments/JavaScript/microblog/server/bin/
experiments/JavaScript/microblog/server/node_modules/

# Java
experiments/Java/partymanager/bin/
experiments/Java/partymanager/gradle/wrapper/
experiments/Java/spring-eureka/eureka-provider/bin
experiments/Java/spring-eureka/eureka-provider/gradle
experiments/Java/spring-eureka/eureka-server/bin
experiments/Java/spring-eureka/eureka-server/gradle
experiments/Python/delivery-monitoring/rabbitmq_data/

experiments/Java/ecommerce/catalog/.mvn/wrapper/

experiments/Java/ecommerce/products/.mvn/wrapper/

experiments/Java/service-orders/api/.mvn/wrapper/

experiments/Python/pythonlab_solution/task_manager/task_manager/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/migrations/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/entities/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/services/__pycache__/

experiments/Python/pythonlab_solution/task_manager/app/templatetags/__pycache__/

*.pyc
*.jar
*.class
*.bat
*.cmd
*.log
*.ejs
*.hrl
*.beam
*.DCD
*.DCL
*.DAT
*.bat
*/.mvn/*


experiments/Java/ecommerce/containers/rabbitmq_data/
experiments/Java/service-orders/.mvn/wrapper/

experiments/Python/Katalon/

experiments/JavaScript/mern/mern-tracker/backend/node_modules/
experiments/JavaScript/mern/node_modules/
experiments/JavaScript/Restify Lab/node_modules/
experiments/JavaScript/Game Lab/Flappy Block/phaser.min.js
experiments/JavaScript/NodeJs Lab/mern-tracker/backend/node_modules
experiments/JavaScript/NodeJs Lab/mern-tracker/backend/package-lock.json
experiments/JavaScript/NodeJs Lab/mern-tracker/package-lock.json
experiments/JavaScript/NodeJs Lab/mern-tracker/backend/.env
experiments/JavaScript/mern/mern-tracker/backend/.env
experiments/JavaScript/NodeJs Lab/shopping-api/node_modules
experiments/JavaScript/React Lab/rich-text-editor/src/App.test.js
experiments/JavaScript/NodeJs Lab/paradox-api/package-lock.json

experiments/JavaScript/NodeJs Lab/shopping-api/package-lock.json

experiments/Python/Flask Lab/delivery-monitoring/rabbitmq_data/

experiments/Java/Spring Lab/Ecommerce/service-order/.mvn/wrapper/

experiments/Java/ecommerce/service-order/.mvn/wrapper/

experiments/Java/Spring Lab/Ecommerce/catalog/.mvn/wrapper/

experiments/Java/Spring Lab/Ecommerce/containers/rabbitmq_data/

experiments/JavaScript/NextJs Lab/tailwind-lab-app/.next/
experiments/JavaScript/NextJs Lab/tailwind-lab-app/node_modules/

experiments/JavaScript/NodeJs Lab/mentions-count/node_modules/
experiments/C#/.NET Core Lab/horror-api/obj/
