HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Docker
experiments/Docker/app-todo/node_modules/
experiments/Docker/app-todo/src/static/css
experiments/Docker/app-todo/src/static/ks

# JavaScipt
experiments/JavaScipt/microblog/bin/
experiments/JavaScipt/microblog/node_modules/

# Java
experiments/Java/partymanager/bin/
experiments/Java/partymanager/gradle/wrapper/
experiments/Java/spring-eureka/eureka-provider/bin
experiments/Java/spring-eureka/eureka-provider/gradle
experiments/Java/spring-eureka/eureka-server/bin
experiments/Java/spring-eureka/eureka-server/gradle